.project-list.panel {
    .panel-heading {
        background: white;
        padding: 0;
        .panel-title {
            color: $brand-primary;
            display: inline-block;
            border-bottom: 2px solid $brand-primary;
            padding: 10px 15px;
            font-size: 22px;
        }
    }
    .panel-body {
        background: #fafafa;
        min-height: 400px;
        .table-hover > tbody > tr:hover {
            background-color: $brand-primary;
            color: white;
        }
    }
}