.page-profile {

    .profile-header {
        position: relative;
        margin: 0 -30px 15px;
        padding: 50px 30px 90px;
        /*background: url('#{$image_path}/background/1.jpg') no-repeat center center fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .profile-img {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        img {
            max-width: 120px;
            height: auto;
            box-shadow: 0 0 0 5px rgba(255,255,255,.5), 0 0 10px rgba(0,0,0,.2);
        }
    }

    .profile-social {
        display: inline-block;
        > a {
            margin-right: 15px;
            box-shadow: 0 0 5px rgba(0,0,0,.2);
        }
    }

    .profile-info {
        background-color: #eee;
        line-height: 20px;
        padding: 10px 30px;
        color: $dark;
        margin: 0 -15px -25px;
        text-align: right;

        ul {
            margin: 0;
        }
    }

    .panel-body {
        position: relative;
        padding: 25px 15px;
    }

    img.media-object {
        border-radius: $border-radius-base;
    }

    .wechats {

        .wechat {

            padding: 50px 0;
            background: white;
            border: 1px solid #d6d6d6;
            width: 88%;
            margin: 20px auto;

            .logo {
                width: 40%;
                border-radius: 50%;
                border: 1px solid #d6d6d6;
                margin-bottom: 40px;
            }

            .md-button {
                min-width: 64px;
                &.md-secondary {
                    color: #969696;
                }
            }

        }
    }
}