.project-list.panel {
    .panel-heading {
        background: white;
        padding: 0;
        .panel-title {
            color: $brand-primary;
            display: inline-block;
            border-bottom: 2px solid $brand-primary;
            padding: 10px 15px;
            font-size: 22px;
        }
    }
    .panel-body {
        background: #fafafa;
        min-height: 400px;
        .table-hover > tbody > tr:hover {
            background-color: $brand-primary;
            color: white;
        }
    }
}

md-tabs.project-detail {

    border: 1px solid #d7d7d7;
    md-tabs-canvas {
        background: white;
    }
    md-tabs-content-wrapper {
        background: #fafafa;

        .section-header {
            font-size: 28px;
            margin: 40px 0 80px;
        }
    }

    .actions {
        margin: 30px auto;
    }
}