<div class="page" ng-controller="customerCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <md-tabs class="project-detail customer-image" md-dynamic-height md-border-bottom>
                <md-tab label="用户画像">
                    <md-content class="md-padding">
                        <div class="filters" layout="row">
                            <md-chips ng-model="query.withTags" md-autocomplete-snap flex="50" class="with-tags">
                                <md-autocomplete
                                    md-selected-item="newWithTag"
                                    md-search-text="withTagsSearchText"
                                    md-items="item in getTags(withTagsSearchText)"
                                    md-item-text="item"
                                    md-min-length="0"
                                    md-no-cache="true"
                                    placeholder="包含的标签">
                                    <span md-highlight-text="withTagsSearchText">{{ item }}</span>
                                </md-autocomplete>
                            </md-chips>
                            <md-chips ng-model="query.withoutTags" placeholder="排除的标签" flex="50" class="without-tags">
                                <md-autocomplete
                                    md-selected-item="newWithoutTag"
                                    md-search-text="withTagsSearchText"
                                    md-items="item in getTags(withTagsSearchText)"
                                    md-item-text="item"
                                    md-min-length="0"
                                    md-no-cache="true"
                                    placeholder="排除的标签">
                                    <span md-highlight-text="withTagsSearchText">{{ item }}</span>
                                </md-autocomplete>
                            </md-chips>
                        </div>
                        <br>
                        <div layout="row" layout-align="start start">
                            <ul flex as-sortable ng-model="showingCustomerFields" class="list-inline showing-fields">
                                <li as-sortable-item ng-repeat="field in showingCustomerFields" style="padding:0">
                                    <label as-sortable-item-handle class="label label-info" style="margin-right:5px">
                                        {{ field.label }}
                                        <span ng-click="hideCustomerField(field)">
                                            <md-icon class="close-button">close</md-icon>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                            <div flex="1" layout="row" layout-align="end center">
                                <md-autocomplete placeholder="新增显示字段" md-items="field in getPossibleFields(searchOtherFieldsText)" md-search-text="searchOtherFieldsText" md-item-text="field.label" md-selected-item="newShowField" md-min-length="0" md-no-cache="true" md-selected-item-change="showCustomerField(newShowField)">
                                    <span>{{ field.label }}</span>
                                </md-autocomplete>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="高级搜索">
                    <md-content class="md-padding" layout="row">
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.rank" aria-label="rank" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.rank" min="10" max="100" step="10" aria-label="rank" min="10" max="100" step="10" id="" class="md-primary" md-vertical md-discrete></md-slider>
                            <h5>客户口碑度</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.consumingWilling" aria-label="consumingWilling" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.consumingWilling" min="10" max="100" step="10" aria-label="consumingWilling" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户消费意愿</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.consumingFrequency" aria-label="consumingFrequency" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.consumingFrequency" min="10" max="100" step="10" aria-label="consumingFrequency" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户消费频次</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.consumingTendency" aria-label="consumingTendency" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.consumingTendency" min="10" max="100" step="10" aria-label="consumingTendency" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户消费倾向</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.comsumingAbility" aria-label="comsumingAbility" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.comsumingAbility" min="10" max="100" step="10" aria-label="comsumingAbility" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户消费能力</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.consumingReturning" aria-label="consumingReturning" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.consumingReturning" min="10" max="100" step="10" aria-label="consumingReturning" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户返购力</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.consumingLayalty" aria-label="consumingLayalty" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.consumingLayalty" min="10" max="100" step="10" aria-label="consumingLayalty" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户忠诚度</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.creditRanking" aria-label="creditRanking" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.creditRanking" min="10" max="100" step="10" aria-label="creditRanking" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户信用评分</h5>
                        </md-slider-container>
                        <md-slider-container flex>
                            <md-input-container>
                                <input flex type="number" ng-model="query.consumingDriven" aria-label="consumingDriven" aria-controls="">
                            </md-input-container>
                            <md-slider ng-model="query.consumingDriven" min="10" max="100" step="10" aria-label="consumingDriven" min="10" max="100" step="10" id="" class="md-accent" md-vertical md-discrete md-range></md-slider>
                            <h5>客户消费驱动</h5>
                        </md-slider-container>
                    </md-content>
                </md-tab>
                <md-tab label="精准搜索">
                    <md-content class="md-padding">
                        <form ng-submit="preciseSearch(preciseSearchText)">
                            <div layout="row">
                                <md-input-container flex="100">
                                    <label>搜索具体用户信息</label>
                                    <input ng-model="preciseSearchText">
                                    <div class="hint" style="color:#CCC">
                                        格式：{key}={value}&amp;{key}={value}
                                    </div>
                                </md-input-container>
                                <md-input-container flex="1">
                                    <md-button type="submit" class="md-primary md-raised" style="min-height:29px;min-width:70px"><md-icon>search</md-icon></md-button>
                                </md-input-container>
                            </div>
                        </form>
                        <br>
                        <div layout="row" layout-align="start start">
                            <ul flex as-sortable ng-model="showingCustomerFields" class="list-inline showing-fields">
                                <li as-sortable-item ng-repeat="field in showingCustomerFields" style="padding:0">
                                    <label as-sortable-item-handle class="label label-info" style="margin-right:5px">
                                        {{ field.label }}
                                        <span ng-click="hideCustomerField(field)">
                                            <md-icon class="close-button">close</md-icon>
                                        </span>
                                    </label>
                                </li>
                            </ul>
                            <div flex="1" layout="row" layout-align="end center">
                                <md-autocomplete placeholder="新增显示字段" md-items="field in getPossibleFields(searchOtherFieldsText)" md-search-text="searchOtherFieldsText" md-item-text="field.label" md-selected-item="newShowField" md-min-length="0" md-no-cache="true" md-selected-item-change="showCustomerField(newShowField)">
                                    <span>{{ field.label }}</span>
                                </md-autocomplete>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="用户分组">
                    <md-content class="md-padding" layout="row">
                        <md-chips flex ng-model="customerGroups" readonly="true" class="customer-group">
                            <md-chip-template>
                                <div ng-click="toggleInGroup($chip, $event)">
                                    {{ $chip.name }}
                                    <md-icon ng-click="editGroup($chip);$event.stopPropagation()">edit</md-icon>
                                    <i class="fa fa-wechat" ng-click="syncGroupToWechat($chip)"></i>
                                    <md-icon ng-click="removeGroup($chip);$event.stopPropagation()">close</md-icon>
                                </div>
                            </md-chip-template>
                        </md-chips>
                    </md-content>
                </md-tab>
                <md-tab label="微信公众号">
                    <md-content class="md-padding" layout="row">
                        <md-input-container>
                            <label>微信公众号</label>
                            <md-select ng-model="query['wechat.appId']">
                                <md-option ng-repeat="wechat in brand.wechats" ng-value="wechat.appId">{{ wechat.name }}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>性别</label>
                            <md-select ng-model="query.sex">
                                <md-option value="男">男</md-option>
                                <md-option value="女">女</md-option>
                                <md-option value="未知">未知</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container>
                            <label>地区</label>
                            <input ng-model="query.wechatRegion">
                        </md-input-container>
                        <md-input-container>
                            <label>关注时间晚于</label>
                            <md-datepicker ng-model="query.wechatSubscribeAfter" md-hide-icons="calendar"></md-datepicker>
                        </md-input-container>
                        <md-input-container>
                            <label>关注时间早于</label>
                            <md-datepicker ng-model="query.wechatSubscribeBefore" md-hide-icons="calendar"></md-datepicker>
                        </md-input-container>
                    </md-content>
                </md-tab>
            </md-tabs>
            <br>
            <div class="actions text-right">
                <md-button ng-click="editGroup()" class="md-raised md-primary btn">定义分组</md-button>
                <md-button ng-href="#!/customer/reaching" class="md-raised md-primary btn">用户触达</md-button>
                <md-button ng-click="exportToXlsx()" class="md-raised md-primary btn">导出表格</md-button>
            </div>
            <br>
            <md-card style="margin:2px">
                <md-table-container>
                    <table md-table md-progress="promise" class="campaign-data-table" style="background:white">
                        <thead md-head>
                            <tr md-row>
                                <th md-column>NUID</th>
                                <th md-column ng-repeat="field in showingCustomerFields">{{ field.label }}</th>
                                <th md-column>标签</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="customer in customers">
                                <td md-cell>{{ customer._id }}</td>
                                <td md-cell ng-repeat="field in showingCustomerFields">
                                    {{ customer[field.key] | friendlyDisplay }}
                                </td>
                                <td md-cell>
                                    <label ng-repeat="tag in customer.tags" class="label label-primary"> {{ tag }} </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="query.limit" md-limit-options="[20, 50, 100]" md-page="query.page" md-total="{{ customers.$total }}" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
            </md-card>
        </div>
    </div>
</div>
