<md-bottom-sheet class="md-list md-has-header" style="position:fixed">
    <md-subheader ng-cloak>编辑场景</md-subheader>
    <div layout="row">
        <div flex="30" layout="column">
            <md-input-container>
                <label>场景名称</label>
                <input ng-model="scene.name">
            </md-input-container>
        </div>
        <div flex="30" layout="column">
            <md-input-container class="md-input-has-value">
                <label>创建时间</label>
                <p class="md-input" disabled>{{ scene.createdAt | date:'y年M月d日' }}</p>
            </md-input-container>
        </div>
        <div flex layout="row" layout-align="end start">
            <div><md-button ng-click="saveQrScene(scene)">保存</md-button></div>
        </div>
    </div>
</md-bottom-sheet>