<div class="page" ng-controller="customerCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <md-tabs class="project-detail customer-reaching" md-dynamic-height md-border-bottom>
                <md-tab label="短信触达" md-active="currentTab=='sms'" md-on-select="selectTab()">
                    <md-content layout="column" class="md-padding">
                        <div layout="row">
                            <md-input-container flex="30">
                                <label>用户组</label>
                                <md-select ng-model="newCustomerReaching.group" aria-label="用户组">
                                    <md-option ng-repeat="customerGroup in customerGroups" ng-value="customerGroup">{{ customerGroup.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <br>
                        <md-input-container>
                            <label>短信内容</label>
                            <textarea rows="5" ng-model="newCustomerReaching.content"></textarea>
                        </md-input-container>
                        <div style="text-align:right">
                            <md-button ng-click="saveCustomerReaching(newCustomerReaching)" class="md-primary md-raised">发送短信</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="微信触达" md-active="currentTab=='wechat'" md-on-select="selectTab('wechat')">
                    <div class="text-center" ng-if="brand.wechats.length==0" style="padding:100px">
                        <h3 style="color:#7d7d7d;font-weight:normal">
                            <i class="fa fa-wechat" style="font-size: 100px"></i>
                        </h3>
                        <h3 style="color:#7d7d7d;font-weight:normal;font-size: 18px">
                            如需使用微信触达及场景触达，请至个人中心绑定微信公众号，并授权第三方平台管理，谢谢
                        </h3>
                        <div ng-if="$parent.user.can('edit-project')" class="actions" style="margin-top:20px">
                            <md-button href="#!/profile" class="btn btn-lg btn-w-lg md-raised md-primary">个人中心</md-button>
                        </div>
                    </div>
                    <div ng-if="brand.wechats.length>0" class="md-padding">
                        <form>
                            <md-input-container>
                                <md-select ng-model="wechat" placeholder="选择公众号" ng-change="getWechat(wechat)">
                                    <md-option ng-repeat="wechat in brand.wechats" ng-value="wechat">{{ wechat.name }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="pull-right">
                                <md-button class="btn md-raised md-primary">同步图文</md-button>
                            </md-input-container>
                            <div class="form-group">
                                <div class="input-group" style="width: calc(100% - 2px);">
                                    <div class="input-group-addon bg-white" style="padding-right:0;color:#bdbdbd"><i class="fa fa-search"></i></div>
                                    <input ng-model="searchMaterialTitle" placeholder="搜索图文标题" class="form-control" style="border-left:none">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-4" ng-repeat="newsMaterial in wechatDetail.newsMaterials | limitTo:10">
                                <div class="news-material">
                                    <div class="date">更新于{{ newsMaterial.update_time * 1000 | date:'y年M月d日' }}</div>
                                    <div ng-if="newsMaterial.content.news_item.length === 1">
                                        <div class="single" ng-repeat="newsItem in newsMaterial.content.news_item">
                                            <a ng-href="{{ newsItem.url }}"><h2 class="title">{{ newsItem.title }}</h2>
                                            <img ng-src="{{ newsItem.thumb_url }}"></a>
                                        </div>
                                    </div>
                                    <div class="multiple" ng-if="newsMaterial.content.news_item.length > 1">
                                        <div ng-repeat="newsItem in newsMaterial.content.news_item">
                                            <hr ng-if="$index>0">
                                            <div class="item clearfix" ng-class="{first:$index==0}">
                                                <a target="_blank" ng-href="{{ newsItem.url }}"><h2 class="title">{{ newsItem.title }}</h2>
                                                <img ng-src="{{ newsItem.thumb_url }}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form>
                            <md-input-container>
                                <md-select ng-model="wechat" placeholder="选择用户组">
                                    <md-option ng-repeat="customerGroup in customerGroups">{{ customerGroup.name }}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="pull-right">
                                <md-button class="btn md-raised md-primary">点击发送</md-button>
                            </md-input-container>
                        </form>
                    </div>
                </md-tab>
                <md-tab label="邮件触达" md-active="currentTab=='email'" ng-disabled="true" md-on-select="selectTab('email')">
                    
                </md-tab>
            </md-tabs>
            <hr>
            <md-card style="margin:2px">
                <md-table-container>
                    <table md-table md-progress="promiseCustomerReachings" class="campaign-data-table">
                        <thead md-head>
                            <tr md-row>
                                <th md-column>编号</th>
                                <th md-column>用户组</th>
                                <th md-column>编辑时间</th>
                                <th md-column>发送时间</th>
                                <th md-column>内容</th>
                                <th md-column>操作</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="customerReaching in customerReachings">
                                <td md-cell>{{ customerReaching._id }}</td>
                                <td md-cell>{{ customerReaching.group.name }}</td>
                                <td md-cell>{{ customerReaching.updatedAt | date:'y-MM-dd HH:mm:ss' }}</td>
                                <td md-cell>{{ customerReaching.sendAt | date:'y-MM-dd HH:mm:ss' }}</td>
                                <td md-cell>{{ customerReaching.content }}</td>
                                <td md-cell>
                                    <md-icon class="md-primary" ng-click="showCustomerReachingDetail(customerReaching)">info_outline</md-icon>
                                    <md-icon class="md-primary" ng-click="reloadCustomerReaching(customerReaching)">refresh</md-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="queryCustomerReachings.limit" md-limit-options="[20, 50, 100]" md-page="queryCustomerReachings.page" md-total="{{ customerReachings.$total }}" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
            </md-card>
        </div>
    </div>
</div>
