<div class="page" ng-controller="customerCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <md-tabs class="project-detail customer-image" md-dynamic-height md-border-bottom>
                <md-tab label="短信触达">
                    <md-content layout="column" class="md-padding">
                        <div layout="row">
                            <md-input-container flex="30">
                                <label>用户组</label>
                                <md-select ng-model="newCustomerReaching.customerGroup">
                                    <md-option ng-repeat="customerGroup in customerGroups" value="customerGroup">{{ customerGroup.name }}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <br>
                        <md-input-container>
                            <label>短信内容</label>
                            <textarea rows="5" ng-model="newCustomerReaching.content"></textarea>
                        </md-input-container>
                        <div style="text-align:right">
                            <md-button ng-click="send(customerReaching)" class="md-primary md-raised">发送短信</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="微信触达" ng-disabled="true">
                    
                </md-tab>
                <md-tab label="邮件触达" ng-disabled="true">
                    
                </md-tab>
            </md-tabs>
            <hr>
            <md-card style="margin:2px">
                <md-table-container>
                    <table md-table md-progress="promiseCustomerReachings" class="campaign-data-table">
                        <thead md-head>
                            <tr md-row>
                                <th md-column>编号</th>
                                <th md-column>用户组</th>
                                <th md-column>编辑时间</th>
                                <th md-column>发送时间</th>
                                <th md-column>内容</th>
                                <th md-column>操作</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="customerReaching in customerReachings">
                                <td md-cell>{{ customerReaching._id }}</td>
                                <td md-cell>{{ customerReaching.group.name }}</td>
                                <td md-cell>{{ customerReaching.updatedAt | date:'y-MM-dd HH:mm:ss' }}</td>
                                <td md-cell>{{ customerReaching.sendAt | date:'y-MM-dd HH:mm:ss' }}</td>
                                <td md-cell>{{ customerReaching.content }}</td>
                                <td md-cell>
                                    <md-icon class="md-primary" ng-click="showCustomerReachingDetail(customerReaching)">info_outline</md-icon>
                                    <md-icon class="md-primary">refresh</md-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="queryCustomerReachings.limit" md-limit-options="[20, 50, 100]" md-page="queryCustomerReachings.page" md-total="{{ customerReachings.$total }}" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
            </md-card>
        </div>
    </div>
</div>
