<div class="page-welcome">
    <div class="welcome-container text-center">
        <div class="welcome">
            <h1 class="logo"><img src="/assets/images/persona.png" width="450px"></h1>
            <h1><span data-translate="WELCOME_TO_PERSONA"></span></h1>
            <h2><span data-translate="FOLLOW_THE_WIZARD"></span></h2>
        </div>

        <div class="welcome-body">
            <md-button ng-if="$parent.user.can('edit-project')" href="/#!/wizard/create-project/" class="md-raised md-primary btn-lg btn-w-lg" aria-label="Start"><span data-translate="START"></span></md-button>
            <md-button ng-if="!$parent.user.can('edit-project')" href="/#!/project/list" class="md-raised md-primary btn-lg btn-w-lg" aria-label="Start"><span data-translate="START"></span></md-button>
        </div>
    </div>
</div>
