<div class="page" ng-controller="projectCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <md-tabs class="project-detail" md-dynamic-height md-border-bottom>
                <md-tab label="项目概况">
                    <md-content>
                        <h2 class="section-header">{{ project.name }}</h2>
                        <div class="col-md-offset-1 col-md-10">
                            <fieldset ng-disabled="!$parent.user.can('edit-project')">
                                <div layout-gt-xs="row">
                                    <md-input-container class="md-block" flex-gt-xs>
                                        <label>项目名称</label>
                                        <input ng-model="project.name">
                                    </md-input-container>

                                    <md-input-container flex-gt-xs="15" disabled>
                                        <label>品牌</label>
                                        <input ng-model="project.brand.name">
                                    </md-input-container>

                                    <md-input-container>
                                        <label>开始时间</label>
                                        <md-datepicker md-max-date="project.endDate" ng-model="project.startDate"></md-datepicker>
                                    </md-input-container>

                                    <md-input-container>
                                        <label>结束时间</label>
                                        <md-datepicker md-min-date="project.startDate" ng-model="project.endDate"></md-datepicker>
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>备注</label>
                                        <input ng-model="project.comment" md-maxlength="100">
                                    </md-input-container>
                                </div>

                                <div layout-gt-sm="row">

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>URL</label>
                                        <input name="postalCode" ng-model="project.url" placeholder="https://www.example.com">
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm="20">
                                        <label>投放平台</label>
                                        <md-select ng-model="project.platform">
                                            <md-option ng-repeat="platform in platforms" value="{{platform}}">
                                                {{platform}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    
                                    <md-autocomplete class="md-block" flex-gt-sm="15" md-floating-label="省/市" md-items="province in provinces | filter:provinceSearchText" md-search-text="provinceSearchText" md-item-text="province.name" md-selected-item="project.region[0]" md-min-length="0" md-no-cache="true">
                                        <span>{{province.name}}</span>
                                    </md-autocomplete>

                                    <md-autocomplete class="md-block" flex-gt-sm="15" md-floating-label="市/区" md-items="city in cities | filter:citySearchText" md-search-text="citySearchText" md-item-text="city.name" md-selected-item="project.region[1]" md-min-length="0" md-no-cache="true">
                                        <span>{{city.name}}</span>
                                    </md-autocomplete>
                                </div>

                                <div layout-gt-sm="row">

                                    <md-autocomplete class="md-block" flex-gt-sm="25" md-floating-label="执行者" md-items="user in getUsers('project_admin', searchExecutiveText)" md-search-text="searchExecutiveText" md-item-text="user.name" md-selected-item="project.executive" md-min-length="0">
                                        <span>{{ user.name }}</span>
                                    </md-autocomplete>

                                    <md-input-container class="md-block" flex-gt-sm="25">
                                        <label>管理者</label>
                                        <input name="manager" ng-model="project.manager.name" disabled>
                                    </md-input-container>

                                    <md-input-container class="md-block" flex-gt-sm>
                                        <label>APPID</label>
                                        <input name="appid" ng-model="project.appid" disabled>
                                    </md-input-container>
                                </div>

                                <div>
                                    <div ng-repeat="kpi in project.kpis" layout-gt-sm="row">
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>KPI类型</label>
                                            <input ng-model="kpi.type" disabled>
                                        </md-input-container>
                                        <md-input-container class="md-block" flex-gt-sm="50">
                                            <label>数值</label>
                                            <input ng-model="kpi.value">
                                        </md-input-container>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="actions text-center" ng-if="$parent.user.can('edit-project')">
                                <md-button class="md-default btn" ng-click="updateProject(project)">保存修改</md-button>
                                <md-button class="md-default btn" href="#!/wizard/set-kpi/{{ project._id }}?editing=true"">修改KPI</md-button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!--时间段-->
                            <div layout="row" layout-align="center end" class="timeline-channels">
                                <div class="endpoint" flex="10">
                                    <label>开始时间</label>
                                    <p>{{ project.startDate | date:'y/M/d' }}</p>
                                </div>
                                <div class="baseline" flex layout="column">
                                    <div ng-repeat="channel in project.channels" class="channel" layout="row" layout-align="center end" style="margin-left:{{ startDatePercentage(channel) }}%;width:{{ durationPercentage(channel) }}%">
                                        <div class="channel-endpoint" flex="1" style="left:-15px">
                                            <div class="date">{{ channel.startDate | date:'M/d' }}</div>
                                        </div>
                                        <label flex>{{ channel.name }}</label>
                                        <div class="channel-endpoint" flex="1" style="left:15px">
                                            <div class="date">{{ channel.endDate | date:'M/d' }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="endpoint" flex="10">
                                    <label>结束时间</label>
                                    <p>{{ project.endDate | date:'y/M/d' }}</p>
                                </div>
                            </div>
                            <div class="actions text-center" ng-if="$parent.user.can('edit-project')">
                                <md-button class="md-default btn" href="#!/wizard/set-channel/{{ project._id }}?editing=true">添加渠道</md-button>
                            </div>

                            <!--各KPI关键节点-->
                            <div class="kpis-timing">
                                <div ng-repeat="kpi in project.kpis" class="kpi-timing">
                                    <!--所有节点显示在一个轴上-->
                                    <div layout="row" layout-align="center end" class="timeline-timings">
                                        <div class="endpoint" flex="10">
                                            <label>{{ kpi.type }}</label>
                                            <p>{{ kpi.value }}</p>
                                        </div>
                                        <div class="baseline" flex layout="column">
                                            <div ng-repeat="timing in kpi.timings | orderBy:'endDate'" ng-if="timing.startDate && timing.endDate" class="channel" layout="row" layout-align="center end" style="margin-left:{{ startDatePercentage(timing) }}%;width:{{ durationPercentage(timing) }}%">
                                                <div class="channel-endpoint" flex="1" style="left:-15px">
                                                    <div class="date">{{ timing.startDate | date:'M/d' }}</div>
                                                </div>
                                                <label flex>{{ timing.name }} {{ timing.percentage }}%</label>
                                                <div class="channel-endpoint" flex="1" style="left:15px">
                                                    <div class="date">{{ timing.endDate | date:'M/d' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions text-center" ng-if="$parent.user.can('edit-project')">
                                <md-button class="md-default btn" href="#!/wizard/set-timing/{{ project._id}}?editing=true">修改节点</md-button>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="$parent.user.can('edit-project')">
                            <div class="actions text-center">
                                <md-button class="md-default md-warn btn" ng-click="removeProject(project)">删除项目</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="渠道监控">
                    <h2 class="section-header">{{ project.name }}</h2>
                    <md-content class="md-padding">
                        <form layout="row" ng-submit="getKpiByChannels()">
                            <md-input-container flex="1">
                                <label>开始时间</label>
                                <md-datepicker ng-model="queryKpiByChannels.startDate" md-hide-icons="calendar"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="1">
                                <label>结束时间</label>
                                <md-datepicker ng-model="queryKpiByChannels.endDate" md-hide-icons="calendar"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="1">
                                <md-button type="submit" class="md-primary md-raised" style="min-height:29px;min-width:70px"><md-icon>search</md-icon></md-button>
                            </md-input-container>
                        </form>
                        <div class="row">
                            <div ng-show="uvByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">独立访客数</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="uvByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="pvByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">页面访问数</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="pvByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="stayingTimeByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">平均访问时长</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="stayingTimeByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="escapeRateByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">跳出率</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="escapeRateByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="registersByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">获取用户数</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="registersByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="registerRateByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">获取用户率</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="registerRateByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="sharesByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">分享数</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="sharesByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="ordersByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">下单用户数</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="ordersByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="paymentsByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">付款用户数</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="paymentsByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="paymentRateByChannelsChart.options" class="col-md-6">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">下单用户付款率</div>
                                    <div class="panel-body">
                                        <div data-echarts data-options="paymentRateByChannelsChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="报表统计" md-active="true">
                    <h2 class="section-header">{{ project.name }}</h2>
                    <md-content class="md-padding">
                        <form layout="row" ng-submit="getCampaignRecords();getKpiByDate();getKpiByRegion();getKpiByDevice()">
                            <md-input-container flex="1">
                                <label>开始时间</label>
                                <md-datepicker ng-model="queryCampaignRecords.startDate" md-hide-icons="calendar" md-min-date="project.startDate" md-max-date="queryCampaignRecords.endDate || project.endDate"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="1">
                                <label>结束时间</label>
                                <md-datepicker ng-model="queryCampaignRecords.endDate" md-hide-icons="calendar" md-min-date="queryCampaignRecords.startDate || project.startDate" md-max-date="project.endDate"></md-datepicker>
                            </md-input-container>
                            <md-input-container flex="1">
                                <md-button type="submit" class="md-primary md-raised" style="min-height:29px;min-width:70px"><md-icon>search</md-icon></md-button>
                            </md-input-container>
                        </form>
                        <div class="row page-dashboard">
                            <div class="col-md-offset-1 col-md-2 box-stats">
                                <span class="box-desc">PV</span>
                                <p class="box-num">{{ kpi.pv | number }}</p>
                            </div>
                            <div class="col-md-2 box-stats">
                                <span class="box-desc">UV</span>
                                <p class="box-num">{{ kpi.uv | number }}</p>
                            </div>
                            <div class="col-md-2 box-stats">
                                <span class="box-desc">分享</span>
                                <p class="box-num">{{ kpi.shares | number }}</p>
                            </div>
                            <div class="col-md-2 box-stats">
                                <span class="box-desc">获客</span>
                                <p class="box-num">{{ kpi.registers | number }}</p>
                            </div>
                            <div class="col-md-2 box-stats no-border">
                                <span class="box-desc">访问时长</span>
                                <p class="box-num">{{ kpi.stayingTime / 1000 | number:0 }} 秒</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">受访情况</div>
                                    <div class="panel-body">
                                        <div ng-show="viewsByDateChart.options" data-echarts data-options="viewsByDateChart.options" style="height: 350px"></div>
                                        <div ng-show="stayingTimeByDateChart.options" data-echarts data-options="stayingTimeByDateChart.options" style="height: 350px"></div>
                                        <div ng-show="sharesByDateChart.options" data-echarts data-options="sharesByDateChart.options" style="height: 350px"></div>
                                        <div ng-show="escapeRateByDateChart.options" data-echarts data-options="escapeRateByDateChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default panel-minimal">
                                    <div class="divider divider-md"></div>
                                    <div class="panel-heading">获客情况</div>
                                    <div class="panel-body">
                                        <div ng-show="registersByDateChart.options" data-echarts data-options="registersByDateChart.options" style="height: 350px"></div>
                                        <div ng-show="registersByRegionChart.options" data-echarts data-options="registersByRegionChart.options" style="height: 350px"></div>
                                        <div ng-show="registersByDeviceChart.options" data-echarts data-options="registersByDeviceChart.options" style="height: 350px"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <md-card style="margin:1px">
                                <md-table-container>
                                    <table md-table md-progress="promiseCampaignRecords">
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column>时间</th>
                                                <th md-column>渠道</th>
                                                <th md-column>用户</th>
                                                <th md-column>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row ng-repeat="record in campaignRecords" id="record-{{ record._id }}">
                                                <td md-cell>{{ record.time | date:'y-MM-dd HH:mm:ss' }}</td>
                                                <td md-cell>{{ record.fromChannel.name }}</td>
                                                <td md-cell>{{ record.openId || record.tempId }}</td>
                                                <td md-cell>
                                                    <span ng-if="record.visited">访问 “{{ record.visited }}”</span>
                                                    <span ng-if="record.shared">分享</span>
                                                    <span ng-if="record.ordered">下单 #{{record.ordered}} ¥{{ record.price }}</span>
                                                    <span ng-if="record.paid">支付 #{{ record.paid }} ¥{{ record.price }}</span>
                                                    <span ng-if="record.required">兑换 #{{ record.required }}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-table-container>
                                <md-table-pagination md-limit="queryCampaignRecords.limit" md-limit-options="[10, 50, 100]" md-page="queryCampaignRecords.page" md-total="{{ campaignRecords.$total }}" md-on-paginate="getCampaignRecords" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>