<div class="page" ng-controller="projectCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <md-tabs class="project-detail" md-dynamic-height md-border-bottom>
                <md-tab label="项目概况">
                    <md-content>
                        <h2 class="section-header">{{ project.name }}</h2>
                        <div class="col-md-offset-1 col-md-10">
                            <div layout-gt-xs="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>项目名称</label>
                                    <input ng-model="project.name">
                                </md-input-container>

                                <md-input-container>
                                    <label>开始时间</label>
                                    <md-datepicker ng-model="project.startDate"></md-datepicker>
                                </md-input-container>

                                <md-input-container>
                                    <label>结束时间</label>
                                    <md-datepicker ng-model="project.endDate"></md-datepicker>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>备注</label>
                                    <input ng-model="project.comment" md-maxlength="100">
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>URL</label>
                                    <input name="postalCode" ng-model="project.url" placeholder="https://">
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>投放平台</label>
                                    <md-select ng-model="project.platform">
                                        <md-option ng-repeat="platform in platforms" value="{{platform}}">
                                            {{platform}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>城市</label>
                                    <md-select ng-model="user.state">
                                        <md-option ng-repeat="city in cities" value="{{city}}">
                                            {{city}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div layout-gt-sm="row">

                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>执行者</label>
                                    <md-select ng-model="project.executive">
                                        <md-option ng-repeat="user in users" value="{{user.name}}">
                                            {{user.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm="25">
                                    <label>管理者</label>
                                    <input name="manager" ng-model="project.manager" disabled>
                                </md-input-container>

                                <md-input-container class="md-block" flex-gt-sm>
                                    <label>APPID</label>
                                    <input name="appid" ng-model="project.appid" disabled>
                                </md-input-container>
                            </div>

                            <div>
                                <div ng-repeat="kpi in project.kpis" layout-gt-sm="row">
                                    <md-input-container class="md-block" flex-gt-sm="50">
                                        <label>KPI类型</label>
                                        <input ng-model="kpi.type" disabled>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex-gt-sm="50">
                                        <label>数值</label>
                                        <input ng-model="kpi.value">
                                    </md-input-container>
                                </div>
                            </div>

                            <div class="actions text-center">
                                <md-button class="md-raised md-primary" href="#!/wizard/set-kpi" style="line-height:34px">修改API</md-button>
                                <md-button class="md-raised md-default" style="margin-left:20px">保存修改</md-button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <!--各渠道时间段-->
                            <div layout="row" layout-align="center end" class="timeline-channels">
                                <div class="endpoint" flex="10">
                                    <label>开始时间</label>
                                    <p>{{ project.startDate | date:'y/M/d' }}</p>
                                </div>
                                <div class="baseline" flex layout="column">
                                    <div ng-repeat="channel in project.channels" class="channel" layout="row" layout-align="center end" style="margin-left:{{ startDatePercentage(channel) }}%;width:{{ durationPercentage(channel) }}%">
                                        <div class="channel-endpoint" flex="1" style="left:-15px">
                                            <div class="date">{{ channel.startDate | date:'M/d' }}</div>
                                        </div>
                                        <label flex>{{ channel.name }}</label>
                                        <div class="channel-endpoint" flex="1" style="left:15px">
                                            <div class="date">{{ channel.endDate | date:'M/d' }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="endpoint" flex="10">
                                    <label>结束时间</label>
                                    <p>{{ project.endDate | date:'y/M/d' }}</p>
                                </div>
                            </div>
                            <div class="actions text-center">
                                <md-button class="md-raised md-primary" href="#!/wizard/set-channel" style="line-height:34px">添加渠道</md-button>
                                <md-button class="md-raised md-default" style="margin-left:20px">保存修改</md-button>
                            </div>

                            <!--各KPI关键节点-->
                            <div class="kpis-timing">
                                <div ng-repeat="kpi in project.kpis" class="kpi-timing">
                                    <!--所有节点显示在一个轴上-->
                                    <div layout="row" layout-align="center end" class="timeline-timings">
                                        <div class="endpoint" flex="10">
                                            <label>{{ kpi.type }}</label>
                                            <p>{{ kpi.value }}</p>
                                        </div>
                                        <div class="baseline" flex layout="column">
                                            <div ng-repeat="timing in kpi.timings" class="channel" layout="row" layout-align="center end" style="margin-left:{{ startDatePercentage(timing) }}%;width:{{ durationPercentage(timing) }}%">
                                                <div class="channel-endpoint" flex="1" style="left:-15px">
                                                    <div class="date">{{ timing.startDate | date:'M/d' }}</div>
                                                </div>
                                                <label flex>{{ timing.name }} {{ timing.percentage }}%</label>
                                                <div class="channel-endpoint" flex="1" style="left:15px">
                                                    <div class="date">{{ timing.endDate | date:'M/d' }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions text-center">
                                <md-button class="md-raised md-primary" href="#!/wizard/set-timing" style="line-height:34px">修改节点</md-button>
                                <md-button class="md-raised md-default" style="margin-left:20px">保存修改</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="渠道监控">
                    <h2 class="section-header">{{ project.name }}</h2>
                    <div layout="row">
                        <md-input-container flex="1">
                            <label>开始时间</label>
                            <md-datepicker ng-model="project.startDate" md-hide-icons="calendar"></md-datepicker>
                        </md-input-container>
                        <md-input-container flex="1">
                            <label>结束时间</label>
                            <md-datepicker ng-model="project.endDate" md-hide-icons="calendar"></md-datepicker>
                        </md-input-container>
                    </div>
                </md-tab>
                <md-tab label="报表统计">
                    <h2 class="section-header">{{ project.name }}</h2>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>