<div class="page" ng-controller="projectCtrl">

    <div class="row ui-section">
        <div class="col-md-12">
            <div class="panel panel-default project-list">
                <div class="panel-heading">
                    <div class="panel-title">项目排期</div>
                </div>
                <div class="panel-body project-timing">
                    <md-toolbar layout="row" class="toolbar md-padding">
                        <div flex="45" layout="column">
                            <label>{{ now.year() }}</label>
                            <strong>{{ now.format('dddd MMMDo [第]wo') }}</strong>
                        </div>
                        <div flex layout="column">
                            <label>正在进行的项目数量</label>
                            <strong>{{ projects.length }}</strong>
                        </div>
                    </md-toolbar>
                    <md-card class="card md-padding">
                        <md-button ng-click="navigateQuarter(-1)" class="navigator previous">
                            <md-icon>keyboard_arrow_left</md-icon>
                        </md-button>
                        <md-button ng-click="navigateQuarter(1)" class="navigator next">
                            <md-icon>keyboard_arrow_right</md-icon>
                        </md-button>
                        <div class="months" layout="row">
                            <div ng-repeat="month in timelineMonths" flex class="month" md-style="max-width:{{ (month.endDate - month.startDate) / (timelineEndDate - timelineStartDate) * 100 }}%">
                                <span style="margin-left:10px">{{ month.date.format('MMM')}}</span>
                            </div>
                        </div>
                        <div class="weeks" layout="row">
                            <div ng-repeat="week in timelineWeeks" flex class="week" style="{{ week.inPreviousTimeline ? '' : 'border-left:1px solid #ddd;' }}max-width:{{ (week.endDate - week.startDate) / (timelineEndDate - timelineStartDate) * 100 }}%">
                                <span ng-if="!week.inPreviousTimeline">{{ week.date.format('w') }}</span>
                            </div>
                        </div>
                        <div class="projects" layout="column" style="overflow:hidden">
                            <div ng-repeat="project in projects" flex class="project" style="height:30px;padding:5px 10px;margin-top:5px;border-radius:15px;max-width:{{ durationPercentage(project, timelineStartDate, timelineEndDate) }}%;margin-left:{{ startDatePercentage(project, timelineStartDate, timelineEndDate) }}%">
                                <span>{{ project.name }}</span>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>