<md-bottom-sheet class="md-list md-has-header" style="position:fixed">
    <md-subheader ng-cloak>编辑渠道</md-subheader>
    <div layout="row">
        <div flex="30" layout="column">
            <md-input-container>
                <label>渠道名称</label>
                <input ng-model="channel.name">
            </md-input-container>
            <md-input-container>
                <label>渠道分类</label>
                <md-select ng-model="channel.topic">
                    <md-option ng-repeat="topic in channelTopics" value="{{ topic }}">{{ topic }}</md-option>
                </md-select>
            </md-input-container>
            <md-slider-container layout="row">
                <span flex="20">渠道评分</span>
                <md-slider flex min="0" max="5" step="0.5" ng-model="channel.rank" aria-label="rank" id="channel-rank-slider"></md-slider>
            </md-slider-container>
        </div>
        <div flex layout="row" layout-align="end start">
            <div><md-button ng-click="updateChannel(channel)">保存</md-button></div>
        </div>
    </div>
</md-bottom-sheet>