<div class="page" ng-controller="settingCtrl">

    <div class="row ui-section">
        <div class="col-md-12">
            <div class="panel panel-default project-list">
                <div class="panel-heading">
                    <div class="panel-title">数据设置</div>
                </div>
                <div class="panel-body">
                    <div class="filters" layout="row">
                        <md-input-container flex>
                            <label>搜索字段</label>
                            <input ng-model="query.customerFieldKeyword">
                        </md-input-container>
                    </div>
                    <md-content md-whiteframe="2" style="background:white">
                        <table class="table" style="margin-bottom:0">
                            <thead>
                                <tr>
                                    <th>字段名</th>
                                    <th>字段标签</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="field in customerFields | filter:query.customerFieldKeyword">
                                    <td>{{ field.key }}</td>
                                    <td>{{ field.label }}</td>
                                    <td>
                                        <div class="label label-primary" ng-if="field.brand">{{ field.brand }}</div>
                                        <div class="label label-default" ng-if="field.reserved">保留字段</div>
                                        <md-icon class="md-primary" ng-click="editCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">edit</md-icon>
                                        <md-icon class="md-primary" ng-click="removeCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">delete</md-icon>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </md-content>
                    <div class="actions text-right" style="margin-top:20px">
                        <md-button ng-click="editCustomerField()" class="md-raised md-primary">添加字段</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>