<div class="page" ng-controller="settingCtrl">
    <div class="row ui-section">
        <div class="col-md-12">
            <md-tabs class="project-detail customer-reaching" md-dynamic-height md-border-bottom>
                <md-tab label="特征字段" md-active="true">
                    <md-content layout="column" class="md-padding">
                        <form ng-submit="getCustomerCharFields()" class="filters" layout="row">
                            <md-input-container flex>
                                <label>搜索特征字段</label>
                                <input ng-model="query.keyword">
                            </md-input-container>
                            <md-input-container>
                                <md-button type="submit" flex="1" class="md-primary md-raised" style="min-height:29px;min-width:70px"><md-icon>search</md-icon></md-button>
                            </md-input-container>
                        </form>
                        <md-card>
                            <md-table-container>
                                <table md-table md-progress="promiseCustomerCharFields" style="margin-bottom:0">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column>字段名</th>
                                            <th md-column>字段标签</th>
                                            <th md-column>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="field in customerCharFields">
                                            <td md-cell>{{ field.key }}</td>
                                            <td md-cell>{{ field.label }}</td>
                                            <td md-cell>
                                                <div class="label label-primary" ng-if="field.brand">{{ field.brand }}</div>
                                                <div class="label label-default" ng-if="field.reserved">保留字段</div>
                                                <md-icon class="md-primary" ng-click="editCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">edit</md-icon>
                                                <md-icon class="md-primary" ng-click="removeCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">delete</md-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination md-limit="query.limit" md-limit-options="[20, 50, 100]" md-page="query.page" md-total="{{ customerCharFields.$total }}" md-on-paginate="getCustomerCharFields" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
                        </md-card>
                        <div class="actions text-right" style="margin-top:20px">
                            <md-button ng-click="addCustomerField('char')" class="md-raised md-primary">添加特征字段</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="行为字段">
                    <md-content layout="column" class="md-padding">
                        <form ng-submit="getCustomerActFields()" class="filters" layout="row">
                            <md-input-container flex>
                                <label>搜索行为字段</label>
                                <input ng-model="query.keyword">
                            </md-input-container>
                            <md-input-container>
                                <md-button type="submit" flex="1" class="md-primary md-raised" style="min-height:29px;min-width:70px"><md-icon>search</md-icon></md-button>
                            </md-input-container>
                        </form>
                        <md-card>
                            <md-table-container>
                                <table md-table md-progress="promiseCustomerActFields" style="margin-bottom:0">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column>字段名</th>
                                            <th md-column>字段标签</th>
                                            <th md-column>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="field in customerActFields">
                                            <td md-cell>{{ field.key }}</td>
                                            <td md-cell>{{ field.label }}</td>
                                            <td md-cell>
                                                <div class="label label-primary" ng-if="field.brand">{{ field.brand }}</div>
                                                <div class="label label-default" ng-if="field.reserved">保留字段</div>
                                                <md-icon class="md-primary" ng-click="editCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">edit</md-icon>
                                                <md-icon class="md-primary" ng-click="removeCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">delete</md-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination md-limit="query.limit" md-limit-options="[20, 50, 100]" md-page="query.page" md-total="{{ customerActFields.$total }}" md-on-paginate="getCustomerActFields" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
                        </md-card>
                        <div class="actions text-right" style="margin-top:20px">
                            <md-button ng-click="addCustomerField('act')" class="md-raised md-primary">添加行为字段</md-button>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="计算字段">
                    <md-content layout="column" class="md-padding">
                        <form ng-submit="getCustomerCalcFields()" class="filters" layout="row">
                            <md-input-container flex>
                                <label>搜索计算字段</label>
                                <input ng-model="query.keyword">
                            </md-input-container>
                            <md-input-container>
                                <md-button type="submit" flex="1" class="md-primary md-raised" style="min-height:29px;min-width:70px"><md-icon>search</md-icon></md-button>
                            </md-input-container>
                        </form>
                        <md-card>
                            <md-table-container>
                                <table md-table md-progress="promiseCustomerCalcFields" style="margin-bottom:0">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column>字段名</th>
                                            <th md-column>字段标签</th>
                                            <th md-column>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="field in customerCalcFields">
                                            <td md-cell>{{ field.key }}</td>
                                            <td md-cell>{{ field.label }}</td>
                                            <td md-cell>
                                                <div class="label label-primary" ng-if="field.brand">{{ field.brand }}</div>
                                                <div class="label label-default" ng-if="field.reserved">保留字段</div>
                                                <md-icon class="md-primary" ng-click="editCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">edit</md-icon>
                                                <md-icon class="md-primary" ng-click="removeCustomerField(field)" ng-if="$parent.user.can('set-user') || !field.reserved">delete</md-icon>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <md-table-pagination md-limit="query.limit" md-limit-options="[20, 50, 100]" md-page="query.page" md-total="{{ customerCalcFields.$total }}" md-on-paginate="getCustomerCalcFields" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
                        </md-card>
                        <div class="actions text-right" style="margin-top:20px">
                            <md-button ng-click="addCustomerField('calc')" class="md-raised md-primary">添加计算字段</md-button>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>