<div class="page" ng-controller="settingCtrl">

    <div class="row ui-section">
        <div class="col-md-12">
            <div class="panel panel-default project-list">
                <div class="panel-heading">
                    <div class="panel-title">用户管理</div>
                </div>
                <div class="panel-body">
                    <div class="filters" layout="row">
                        <md-input-container flex>
                            <label>搜索用户</label>
                            <input ng-model="query.userKeyword">
                        </md-input-container>
                    </div>
                    <md-card>
                        <md-table-container>
                            <table md-table md-progress="promise" style="margin-bottom:0">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column>名称</th>
                                        <th md-column>邮箱</th>
                                        <th md-column>手机</th>
                                        <th md-column>品牌</th>
                                        <th md-column>角色</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="user in users | filter:query.userKeyword">
                                    	<td md-cell>{{ user.name }}</td>
                                        <td md-cell>{{ user.email }}</td>
                                        <td md-cell>{{ user.mobile }}</td>
                                        <td md-cell>{{ user.brand.name }}</td>
                                        <td md-cell>{{ getRolesLabel(user.roles) }}</td>
                                        <td md-cell><md-icon class="md-primary" ng-click="editUser(user)">edit</md-icon> <md-icon class="md-primary" ng-click="removeUser(user)">delete</md-icon></td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                        <md-table-pagination md-limit="query.limit" md-limit-options="[20, 50, 100]" md-page="query.page" md-total="{{ users.$total }}" md-on-paginate="getUsers" md-page-select md-label="{of:'/', page:'页码', rowsPerPage:'每页条数'}"></md-table-pagination>
                    </md-card>
                    <div class="actions text-right" style="margin-top:20px">
                        <md-button ng-click="editUser()" class="md-raised md-primary">添加用户</md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>