<div class="page" ng-controller="wizardCtrl">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <ul class="steps-indicator steps-5">
                <li class="editing">
                    <a>
                        <span class="icon"><md-icon>create</md-icon></span>
                        创建项目
                    </a>
                </li>
                <li class="default">
                    <a>
                        <span class="icon"><md-icon>assessment</md-icon></span>
                        设置KPI
                    </a>
                </li>
                <li class="default">
                    <a>
                        <span class="icon"><md-icon>voice_chat</md-icon></span>
                        渠道设置
                    </a>
                </li>
                <li class="default">
                    <a>
                        <span class="icon"><md-icon>timeline</md-icon></span>
                        关键节点
                    </a>
                </li>
                <li class="default">
                    <a>
                        <span class="icon"><md-icon>play_arrow</md-icon></span>
                        项目预览
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-lg-offset-1 clearfix">
            <h2 class="section-header">第一步 创建项目</h2>
            <br><br>
        </div>
        <div class="panel panel-default">
            <form name="createProject" ng-submit="createProject.$valid && saveProject(project, 'wizard/set-kpi')">
                <div class="panel-body">
                    <div class="col-md-3 col-lg-offset-1 text-center">
                        <img src="/assets/images/wizard-create-project.png" style="width:100%">
                    </div>
                    <div class="col-md-7">

                        <div layout-gt-xs="row">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>项目名称</label>
                                <input ng-model="project.name" required>
                                <div ng-messages=""></div>
                            </md-input-container>

                            <md-input-container>
                                <label>开始时间</label>
                                <md-datepicker ng-model="project.startDate" md-max-date="project.endDate" required></md-datepicker>
                            </md-input-container>

                            <md-input-container>
                                <label>结束时间</label>
                                <md-datepicker ng-model="project.endDate" md-min-date="project.startDate" required></md-datepicker>
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>备注</label>
                                <input ng-model="project.comment" md-maxlength="100">
                            </md-input-container>
                        </div>

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>URL</label>
                                <input name="postalCode" ng-model="project.url" placeholder="https://www.example.com">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm="20">
                                <label>投放平台</label>
                                <md-select ng-model="project.platform">
                                    <md-option ng-repeat="platform in platforms" value="{{platform}}">
                                        {{platform}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-autocomplete class="md-block" flex-gt-sm="15" md-floating-label="省/市" md-items="province in provinces | filter:provinceSearchText" md-search-text="provinceSearchText" md-item-text="province.name" md-selected-item="project.region[0]" md-min-length="0" md-no-cache="true">
                                <span>{{province.name}}</span>
                            </md-autocomplete>

                            <md-autocomplete class="md-block" flex-gt-sm="15" md-floating-label="市/区" md-items="city in cities | filter:citySearchText" md-search-text="citySearchText" md-item-text="city.name" md-selected-item="project.region[1]" md-min-length="0" md-no-cache="true">
                                <span>{{city.name}}</span>
                            </md-autocomplete>
                        </div>

                        <div layout-gt-sm="row">

                            <md-autocomplete class="md-block" flex-gt-sm="25" md-floating-label="执行者" md-items="user in getUsers('project_admin', searchExecutiveText)" md-search-text="searchExecutiveText" md-item-text="user.name" md-selected-item="project.executive" md-min-length="0" required>
                                <span>{{ user.name }}</span>
                            </md-autocomplete>

                            <md-autocomplete ng-if="$parent.user.can('set-user')" class="md-block" flex-gt-sm="25" md-floating-label="管理者" md-items="user in getUsers('brand_admin', searchManagerText)" md-search-text="searchManagerText" md-item-text="user.name" md-selected-item="project.manager" md-min-length="0" required>
                                <span>{{ user.name }}</span>
                            </md-autocomplete>

                            <md-input-container ng-if="!$parent.user.can('set-user')" class="md-block" flex-gt-sm>
                                <label>管理者</label>
                                <input name="appid" ng-model="project.manager.name" required disabled>
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>APPID（由系统自动生成）</label>
                                <input name="appid" disabled>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div class="wizard-actions text-center">
                    <md-button type="submit" ng-if="!isEditing" class="md-raised md-primary">下一步</md-button>
                    <md-button type="submit" ng-if="isEditing" class="md-raised md-default btn">保存</md-button>
                </div>
            </form>
        </div>
    </div>
</div>