<div class="page set-timing" ng-controller="wizardCtrl">
    <div class="row ui-section">
        <div class="col-lg-12 clearfix">
            <ul class="steps-indicator steps-5">
                <li class="editing">
                    <a>
                        <span class="icon"><md-icon>create</md-icon></span>
                        创建项目
                    </a>
                </li>
                <li class="editing">
                    <a>
                        <span class="icon"><md-icon>assessment</md-icon></span>
                        设置KPI
                    </a>
                </li>
                <li class="editing">
                    <a>
                        <span class="icon"><md-icon>voice_chat</md-icon></span>
                        渠道设置
                    </a>
                </li>
                <li class="editing">
                    <a>
                        <span class="icon"><md-icon>timeline</md-icon></span>
                        关键节点
                    </a>
                </li>
                <li class="default">
                    <a>
                        <span class="icon"><md-icon>play_arrow</md-icon></span>
                        项目预览
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-lg-offset-1 clearfix">
            <h2 class="section-header">第四步 关键节点</h2>
            <br><br>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <!--各渠道时间段-->
                    <div layout="row" layout-align="center end" class="timeline-channels">
                        <div class="endpoint" flex="1">
                            <label>开始时间</label>
                            <p>{{ project.startDate | date:'y/M/d' }}</p>
                        </div>
                        <div class="baseline" flex layout="column">
                            <div ng-repeat="channel in project.channels" class="channel" layout="row" layout-align="center end" style="margin-left:{{ startDatePercentage(channel) }}%;width:{{ durationPercentage(channel) }}%">
                                <div class="channel-endpoint" flex="1" style="left:-15px">
                                    <div class="date">{{ channel.startDate | date:'M/d' }}</div>
                                </div>
                                <label flex>{{ channel.name }}</label>
                                <div class="channel-endpoint" flex="1" style="left:15px">
                                    <div class="date">{{ channel.endDate | date:'M/d' }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="endpoint" flex="1">
                            <label>结束时间</label>
                            <p>{{ project.endDate | date:'y/M/d' }}</p>
                        </div>
                    </div>
                    <!--各KPI关键节点-->
                    <div class="kpis-timing">
                        <div ng-repeat="kpi in project.kpis" class="kpi-timing">
                            <!--每个节点一行表单-->
                            <div layout="row" ng-repeat="timing in kpi.timings">
                                <md-input-container flex="1" flex-offset="10">
                                    <label>新增节点名称</label>
                                    <input ng-model="timing.name">
                                </md-input-container>
                                <md-input-container flex="1">
                                    <label>开始时间</label>
                                    <md-datepicker ng-model="timing.startDate" md-hide-icons="calendar"></md-datepicker>
                                </md-input-container>
                                <md-input-container flex="1">
                                    <label>结束时间</label>
                                    <md-datepicker ng-model="timing.endDate" md-hide-icons="calendar"></md-datepicker>
                                </md-input-container>
                                <md-slider-container flex>
                                    <span>完成率</span>
                                    <md-slider min="0" max="100" ng-model="timing.percentage" aria-label="percentage" id="timing-percentage-slider-{{$index}}"></md-slider>
                                    <md-input-container>
                                        <input flex type="number" ng-model="timing.percentage" aria-label="percentage" aria-controls="timing-percentage-slider-{{$index}}">
                                    </md-input-container>
                                </md-slider-container>
                                <md-input-container flex="1">
                                    <md-button>添加</md-button>
                                </md-input-container>
                            </div>
                            <!--所有节点显示在一个轴上-->
                            <div layout="row" layout-align="center end" class="timeline-timings">
                                <div class="endpoint" flex="1">
                                    <label>{{ kpi.type }}</label>
                                    <p>{{ kpi.value }}</p>
                                </div>
                                <div class="baseline" flex layout="column">
                                    <div ng-repeat="timing in kpi.timings" class="channel" layout="row" layout-align="center end" style="margin-left:{{ startDatePercentage(timing) }}%;width:{{ durationPercentage(timing) }}%">
                                        <div class="channel-endpoint" flex="1" style="left:-15px">
                                            <div class="date">{{ timing.startDate | date:'M/d' }}</div>
                                        </div>
                                        <label flex>{{ timing.name }} {{ timing.percentage }}%</label>
                                        <div class="channel-endpoint" flex="1" style="left:15px">
                                            <div class="date">{{ timing.endDate | date:'M/d' }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wizard-actions text-center">
             <md-button href="/#!/wizard/preview" class="md-raised md-primary" style="line-height:34px">项目预览</md-button>
            </div>
        </div>
    </div>
</div>